@import '../../../../styles/variables.scss';

.list {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
}

.item {
  position: relative;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  background-color: $placeholder-color;
  color: $primary-btn-color;

  @media #{$tablet} {
    width: 80px;
    height: 80px;
  }

  @media #{$laptop} {
    width: 90px;
    height: 90px;
  }
}

.removeBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 24px;
  width: 24px;
  background-color: transparent;
  border: none;
  z-index: 1;
  color: $error-color;
  transition: all $fast $primary-func;

  &:hover {
    color: $primary-accent-color;
  }
}

.input {
  display: none;
}
