@import '../../styles/variables.scss';

.cartBtn {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  background-color: $primary-btn-color;
  transition: all $fast $primary-func;
  color: $primary-text-color;

  &:hover,
  &:focus {
    scale: 1.1;
    background-color: $primary-accent-color;
  }
}

.closeModalBtn {
  position: absolute;
  top: 18px;
  right: 18px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  color: $primary-text-color;
  transition: all $fast $primary-func;

  &:hover {
    color: $primary-accent-color;
  }

  @media #{$tablet} {
    top: 24px;
    right: 24px;
  }
}

.likeBtn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  background: transparent;
  transition: all $fast $primary-func;
  color: $primary-btn-color;

  &:hover {
    scale: 1.2;
  }
}

.logoutBtn {
  width: 100%;
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: $primary-btn-color;
  border: none;
  border-radius: 50%;
  font-size: 16px;
  font-weight: 500;
  font-family: $primary-font;
  color: $secondary-text-color;
  transition: all $fast $primary-func;

  &:hover,
  &:focus {
    background-color: $primary-accent-color;
    color: $secondary-text-color;
  }

  @media #{$laptop} {
    width: 100%;
    padding: 12px 24px;
    border-radius: 10px;
  }
}

.logoutBtnText {
  display: none;
  margin-left: 10px;

  @media #{$laptop} {
    display: block;
  }
}

.mainBtn {
  padding: 12px 24px;
  background-color: $primary-btn-color;
  border: none;
  border-radius: 15px 35px;
  font-size: 16px;
  font-weight: 400;
  font-family: $primary-font;
  color: $secondary-text-color;
  transition: all $fast $primary-func;

  &:hover,
  &:focus {
    background-color: $primary-accent-color;
    color: $secondary-text-color;
  }
}

.secondaryBtn {
  padding: 12px 24px;
  background-color: transparent;
  border: 1px solid $primary-btn-color;
  border-radius: 15px 35px;
  font-size: 16px;
  font-weight: 400;
  font-family: $primary-font;
  color: $primary-btn-color;
  transition: all $fast $primary-func;

  &:hover,
  &:focus {
    border: 1px solid $primary-accent-color;
    background-color: $primary-accent-color;
    color: $secondary-text-color;
  }
}

.submitBtn {
  width: 100%;
  padding: 12px 24px;
  background-color: $primary-btn-color;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 400;
  font-family: $primary-font;
  color: $secondary-text-color;
  transition: all $fast $primary-func;

  &:hover,
  &:focus {
    background-color: $primary-accent-color;
    color: $secondary-text-color;
  }
}
