@import '../../../../styles/variables.scss';

.container {
  width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 16px;
  flex-direction: column;
  align-items: center;
  background-color: $secondary-bg-color;

  @media #{$tablet} {
    padding: 40px 32px;
  }

  @media #{$desktop} {
    padding: 50px 5vw;
  }
}

.title {
  font-family: $primary-font;
  font-size: 20px;
  text-align: center;
  color: $primary-text-color;
  margin-bottom: 32px;

  @media #{$tablet} {
    font-size: 22px;
  }

  @media #{$desktop} {
    font-size: 24px;
  }
}
