@import '../../../../styles/variables.scss';

.input {
  width: 100%;
  max-width: 200px;
  border: solid 1px $primary-text-color;
  border-radius: 10px;
  padding: 10px 15px;
  background-color: $primary-bg-color;
  font-size: 14px;
  color: $primary-text-color;
  transition: all $fast $primary-func;

  &:focus {
    outline: none;
    border: 1px solid $primary-accent-color;
  }

  @media #{$tablet} {
    font-size: 16px;
  }
}
