@import '../../styles/variables.scss';

.container {
  width: 100%;
  height: 82px;
  padding: 18px 16px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  flex-direction: row;

  @media #{$tablet} {
    padding-left: 32px;
    padding-right: 32px;
  }

  @media #{$desktop} {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

.btnWrapper {
  margin-left: auto;
  display: flex;
  gap: 15px;
}

.headerBtn {
  position: relative;
  margin: 0;
  padding: 5px;
  border: 2px solid $primary-text-color;
  border-radius: 50%;
  background-color: transparent;

  color: $primary-text-color;
  transition: all $fast $primary-func;

  &:hover {
    color: $primary-accent-color;
    border: 2px solid $primary-accent-color;
  }
}

.count {
  position: absolute;
  right: -5px;
  top: -5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $primary-text-color;
  background-color: $primary-accent-color;
  font-size: 10px;
  font-weight: 800;
}

.zeroCount {
  display: none;
}

.themeSwitcher {
  display: none;

  @media #{$laptop} {
    display: block;
    margin-left: 30px;
    align-items: center;
  }
}

.burger {
  margin: 0;
  padding: 0;
  margin-left: 30px;
  border: none;
  background-color: transparent;
  color: $primary-text-color;
  transition: color $fast $primary-func;

  &:hover {
    color: $primary-accent-color;
  }

  @media #{$laptop} {
    display: none;
  }
}
